@import '~bootstrap/scss/bootstrap';

/*
GENERALS SETTING
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    color: black;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    overflow: hidden;
}

/*
NAVBAR ADMIN SETTINGS
*/
.navbar-sticky-top
{
    position: fixed;
    z-index: 999;
    opacity:1;
    width: 100%;
}

/*
SIDEBAR LEFT SETTING
*/
.sidebar{
    width: 180px;
    display: flex;
    height: calc(100vh - 62px);
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: black;
    position: fixed;
    margin-top: 62px;
}

.top_sidebar{
    width: 180px;
    position: fixed;
    top: 71px;
    left: 0;

    a{
        text-decoration: none;
        list-style: none;
        color: white;
    }

    ul{
        line-height: 40px;
        margin-top: 20px;
    }

    i{
        margin-right: 10px;
        font-size: 20px;
    }
}

/*
SEARCH BAR
*/

form{
    position: relative;

    i{
        top: 25%;
        left: 5px;
    }

    .my-icon {
        position: absolute;
        top: 25%;
        left: 5px;
    }
}

input{
    width: 100%;
}

.p_left{
   padding-left:30px;   
}

.mr_10{
    margin-right: 12px;
}

/*
TABELLA INDEX
*/
.max_width_tab{
    max-width: 1500px;
    margin-top: 90px;
}